
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(portfolio2.jpg) no-repeat;
    background-size: cover;

}
.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;

}
.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px;
}
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;

}
 

.SignIn {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;;   
}